### What is data science using pandas ?
Data Science is the process of analyzing large data points to get the answers on questions related to that data set.
pandas is the framework / third party package of python which makes data science extremely easy effective

### for installing the pandas

pandas - panel data structure

In [1]:
#!pip install pandas
import numpy as np
import pandas as pd

### Pandas Series Data Structure
pandas series is also a class in pandas which which provides one-dim labeled container for any object (int,str,float,etc).
Labels of the series can also be called indexes of series.
you can pandas series is nothing but the column of an excel sheet

note: Labels of a series need not be unique but hashable.

#### Hash code
a random generated by the pvm to be used to as the mechanism to store the values in python data structure.
hashcode is different for machine to machine and run to run
hashcode for small number are same as their value

data structures which using hashcode to store their values.

-set

-frozen

-dictionary - keys

#### Hashable objects
all the python immutable objects are hashable

In [2]:
hash("krishna")# python function to return the hash of given object

5228218094654335775

In [3]:
hash(4564564)

4564564

In [4]:
hash(4564654654654654654654654654654646)

1441779411161566488

### How to create pandas series object
in real world the pandas series are taken from some resource(file,web,database,etc)

In [5]:
#blank pandas series
s = pd.Series()
s

Series([], dtype: float64)

In [6]:
arr = np.array(list("krishna"))
arr

array(['k', 'r', 'i', 's', 'h', 'n', 'a'], dtype='<U1')

In [7]:
#creating pandas series from numpy array
s = pd.Series(arr) # if you do not provide the label then numerical label will be used automatically.
s

0    k
1    r
2    i
3    s
4    h
5    n
6    a
dtype: object

In [8]:
#creating pandas series from dictionary of python
data = {chr(x+97):x for x in range(26)}
list(data.items())[:10]

[('a', 0),
 ('b', 1),
 ('c', 2),
 ('d', 3),
 ('e', 4),
 ('f', 5),
 ('g', 6),
 ('h', 7),
 ('i', 8),
 ('j', 9)]

In [9]:
s = pd.Series(data)
s

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [10]:
#providing the indexes explicitly.
s = pd.Series(list("krishna"),index=range(10,17))
s

10    k
11    r
12    i
13    s
14    h
15    n
16    a
dtype: object

In [11]:
#creating series from scaler values
s = pd.Series(20,index=range(20))
s

0     20
1     20
2     20
3     20
4     20
5     20
6     20
7     20
8     20
9     20
10    20
11    20
12    20
13    20
14    20
15    20
16    20
17    20
18    20
19    20
dtype: int64

### Ways to access the elements of pandas series
-Accessing elements from series by position

-Accessing the elements from series using Labels(index)

In [12]:
#POSITION
s = pd.Series(data)
s[:10]

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [13]:
#LABELS OR INDEXING.
s['a':'h'] # much same as the dictionary of python.

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
dtype: int64

### Common methods of pandas Series object

In [14]:
s.shape

(26,)

In [15]:
s.size

26

In [16]:
s.count()

26

In [17]:
s.head(10) # shows the top n values and default value for n is 5

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [18]:
s.tail(10) # same as head but it gets the values from bottom.

q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

getting the statistical infromation about the series

In [19]:
s.describe()

count    26.000000
mean     12.500000
std       7.648529
min       0.000000
25%       6.250000
50%      12.500000
75%      18.750000
max      25.000000
dtype: float64

In [20]:
dir(s)[:10]

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__']

In [21]:
s.array

<PandasArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25]
Length: 26, dtype: int64

In [22]:
# apply method of series takes a function or callable object and calls that object for each element of your series
s.head()

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [23]:
func = lambda x:x*2

In [24]:
for x in s:print(func(x),end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,

In [25]:
s.apply(func).head()

a    0
b    2
c    4
d    6
e    8
dtype: int64

In [26]:
#addting series to the end of another series
s.append(pd.Series(50,index=range(10))).tail()

5    50
6    50
7    50
8    50
9    50
dtype: int64

In [27]:
#deleting elements from pandas series
del s['a'] # native python way to delete the elements

In [28]:
s.drop(
    list('bcdefgh'),
    inplace=True # you want the changes to be made with your actual Series
)

In [29]:
#del s[:5] using native python way of deletion we can only delete a single element of series object

In [30]:
# removing duplicates from a pandas series
s.drop_duplicates().tail()

v    21
w    22
x    23
y    24
z    25
dtype: int64

In [31]:
# removing nan (not a number)
s['z'] = np.nan
s.tail()

v    21.0
w    22.0
x    23.0
y    24.0
z     NaN
dtype: float64

In [32]:
s.dropna().tail()

u    20.0
v    21.0
w    22.0
x    23.0
y    24.0
dtype: float64

In [33]:
s.tail()

v    21.0
w    22.0
x    23.0
y    24.0
z     NaN
dtype: float64

In [34]:
#filling na values
s.fillna(1000).tail()

v      21.0
w      22.0
x      23.0
y      24.0
z    1000.0
dtype: float64

Q - use utility method support of the pandas series

### Selecting elements of a Series

In [37]:
# if you are required to access the element between range

s[s.between(15,20)]

p    15.0
q    16.0
r    17.0
s    18.0
t    19.0
u    20.0
dtype: float64

In [40]:
#if you are required to access all the element with respect of your own logic.

In [41]:
s.sample(10)

n    13.0
w    22.0
z     NaN
o    14.0
l    11.0
m    12.0
q    16.0
j     9.0
p    15.0
i     8.0
dtype: float64

In [43]:
# filter method allows you to pick particular elements | regex | contains
s.filter(items=list("jklmn"))

j     9.0
k    10.0
l    11.0
m    12.0
n    13.0
dtype: float64

In [47]:
s.filter(regex="[a-x]")

i     8.0
j     9.0
k    10.0
l    11.0
m    12.0
n    13.0
o    14.0
p    15.0
q    16.0
r    17.0
s    18.0
t    19.0
u    20.0
v    21.0
w    22.0
x    23.0
dtype: float64

In [49]:
s = pd.Series(
    {x:y for x,y in zip("DELHI GOA UP".split(),[35,45,84])}
)

In [50]:
s

DELHI    35
GOA      45
UP       84
dtype: int64

In [51]:
s.filter(like="H") # on the basis of substring.

DELHI    35
dtype: int64

# SORTION FOR SERIES OBJECT

we do have two methods available for sortion 

1- s.sort_index()

2- s.sort_values()

In [52]:
s

DELHI    35
GOA      45
UP       84
dtype: int64

In [55]:
s = s.append(pd.Series(50,index=range(10))).tail(

In [57]:
from random import randint

In [59]:
s = pd.Series(randint(1,100),index=range(50))

In [61]:
s.sort_index(ascending=False)

49    63
48    63
47    63
46    63
45    63
44    63
43    63
42    63
41    63
40    63
39    63
38    63
37    63
36    63
35    63
34    63
33    63
32    63
31    63
30    63
29    63
28    63
27    63
26    63
25    63
24    63
23    63
22    63
21    63
20    63
19    63
18    63
17    63
16    63
15    63
14    63
13    63
12    63
11    63
10    63
9     63
8     63
7     63
6     63
5     63
4     63
3     63
2     63
1     63
0     63
dtype: int64

In [62]:
s.sort_values()

0     63
27    63
28    63
29    63
30    63
31    63
32    63
33    63
34    63
35    63
36    63
37    63
38    63
39    63
40    63
41    63
42    63
43    63
44    63
45    63
46    63
47    63
26    63
25    63
24    63
23    63
1     63
2     63
3     63
4     63
5     63
6     63
7     63
8     63
9     63
10    63
48    63
11    63
13    63
14    63
15    63
16    63
17    63
18    63
19    63
20    63
21    63
22    63
12    63
49    63
dtype: int64

# SPECIAL INDEXING AND SLICING

In [63]:
s.loc[1:10] # it performs the indexing or slicing on the basis of index or label

1     63
2     63
3     63
4     63
5     63
6     63
7     63
8     63
9     63
10    63
dtype: int64

In [64]:
s = pd.Series([randint(1,20) for x in range(50)])

In [66]:
s.loc[10:20]

10    14
11    16
12     3
13    13
14    20
15    14
16     9
17    18
18    14
19    13
20    10
dtype: int64

In [67]:
s.iloc[1:10] # if you wish to access the elements position wise

1    10
2    10
3    19
4     3
5    16
6    18
7     8
8    17
9    13
dtype: int64

# Binary operations on Series object

In [68]:
s = pd.Series([randint(1,20) for x in range(10)])
x = pd.Series([randint(1,20) for x in range(5)])

In [69]:
s

0     2
1    15
2    13
3     6
4    10
5    11
6     7
7     7
8     9
9    19
dtype: int64

In [70]:
x

0    16
1    11
2    11
3     5
4     8
dtype: int64

In [71]:
s+x

0    18.0
1    26.0
2    24.0
3    11.0
4    18.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [72]:
s.add(x,fill_value=1)

0    18.0
1    26.0
2    24.0
3    11.0
4    18.0
5    12.0
6     8.0
7     8.0
8    10.0
9    20.0
dtype: float64

In [73]:
s.sub(x,fill_value=2)

0   -14.0
1     4.0
2     2.0
3     1.0
4     2.0
5     9.0
6     5.0
7     5.0
8     7.0
9    17.0
dtype: float64

In [74]:
sum(s)

99

In [75]:
s.sum()

99

In [76]:
s.mean()

9.9

In [80]:
s > (s+1)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [81]:
s.gt(x)

0    False
1     True
2     True
3     True
4     True
5    False
6    False
7    False
8    False
9    False
dtype: bool

lt

ge

le

ne

eq

# Type Casting

In [82]:
s.astype(str)

0     2
1    15
2    13
3     6
4    10
5    11
6     7
7     7
8     9
9    19
dtype: object

In [83]:
s.tolist()

[2, 15, 13, 6, 10, 11, 7, 7, 9, 19]